#visibility{
    width: 300px;
}
#consistency-rule{
    width: 500px;
}

#consistency-rule-2{
    width: 500px;
}
body{
    background: #0b0b0b;
    color: #ffffff;
    padding: 50px;
    font-family: Helvetica;
    }