#visibility{
    width: 400px;
}
#consistency-rule{
    width: 700px;
}

#consistency-rule-2{
    width: 700px;
}
body{
    background: lightblue;
    color: black;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
    }
#user-control-rule{
    width: 300px;
}
#recognition-rule{
    width: 300px;
}

#recovery-rule{
    width: 300px;
}

h1{
    font-size: 3em;
    padding-bottom: 5px;
    border-bottom: 3px solid black;
    }

#text-body{
    font-size: 1.5em;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

#help-rule{
    width: 365px;
}

#help-rule-2{
    width: 200px;
}
#matching-rule{
    border-image-width: 1cm;
}