#visibility{
    width: 300px;
}
#consistency-rule{
    width: 700px;
}

#consistency-rule-2{
    width: 700px;
}
body{
    background: lightblue;
    color: black;
    padding: 50px;
    font-family: Helvetica;
    }
#user-control-rule{
    width: 300px;
}